/*Zerando a margem do body, que é inserida automaticamente,
mesmo sem definir a margem*/
* {
    box-sizing: border-box;
}
body{
    margin: 0px;
}
/*Estas duas propriedades anteriores (box-sizing: border-box; e margin: 0px;) 
sempre são colocadas praticamente como padrão*/
.link {
    color: green;
    font-size: 40px;
}
.link:hover{
    color: red;
}
/*O estilo 'hover' é aplicado somente quando o usuário passar o mouse em cima da parte específica,
ou seja, quando o usuário passar o mouse, a cor do link ficará vermelho, porém a cor original é verde
(MUITO INTERESSANTE)*/
/*
.link:visited{
    color: pink;
}
Esta outra situação significa que quando o link já foi acessado, ele fica rosa*/
