*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;   
  }
  html{
      height: auto;
  } body{
      margin: 20px;
      font-size: 20px;
      background-color: #fff2b9;
      width: 100%;
      height: auto;
  }
  #título_1 {
      font-size: 60px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
      font-style: bold;
      font-style: italic;
      font-weight: inherit;
      color: #f08080;
  }
  #título_2 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    font-style: bold;
    font-style: italic;
    font-weight: inherit;
    color: #ff0095;
    letter-spacing: 20px;
}
  #paragrafo_1{
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    color: #20b2ab;
}
#imagem_1{
  width: 300px;
  border: 3px solid #e783bd;
  border-radius: 20px; 
  display: block;    
  margin-left: auto;
  margin-right: auto;
}
.contato:hover{
  color: #ff0000;
}
